mixin dirTree(resource)
  ul.list-group.no-select
    li.list-group-item(
      ng-repeat='item in #{resource}'
      ng-if='item.isFolder'
    )
      .list-group-item-inner(
        ng-click='openFolder($event)'
        ng-dblclick='unwrapFolder($event)'
      )
        span.glyphicon.glyphicon-play.open-folder-btn(
          ng-click='unwrapFolder($event)'
          ng-class='item.unwrapped ? "rotate-90" : ""'
        )
        span.glyphicon(
          ng-class='(item.isOpened || item.unwrapped) ? "glyphicon-folder-open" : "glyphicon-folder-close"'
        )
        span.title {{ item.name }}
        span(ng-if='item.notesCount > 0') ({{ item.notesCount }})


mixin notesList(notes)
  ul.list-group.no-select
    li.list-group-item(
      ng-repeat='item in #{notes}'
      ng-if='!item.isFolder'
    )
      .list-group-item-inner(
        ng-click='openNotes($event)'
        ng-class='{active: item.isOpened}'
      )
        span.glyphicon.glyphicon-file
        span.title {{ item.name }}

