mixin dirTree(resource)
  ul.list-group
    li.list-group-item(
      ng-repeat='item in #{resource}'
      ng-if='item.isFolder == true'
    )
      .list-group-item-inner(ng-click='open($event)')
        span.glyphicon(
          ng-if='item.isFolder == true'
          ng-class='item.isOpened == true ? "glyphicon-folder-open" : "glyphicon-folder-close"'
        )
        span {{ item.name }}
        span.badge {{ getNoteCount(item.children) }}


mixin notesList(notes)
  ul.list-group
    li.list-group-item(
      ng-repeat='item in #{notes}'
      ng-if='item.isFolder == false'
    )
      .list-group-item-inner(
        ng-click='open($event)'
        ng-class='{active: item.isOpened == true}'
      )
        span.glyphicon.glyphicon-file
        span {{ item.name }}

