mixin dirTree(resource)
  ul.list-group.no-select
    li.list-group-item(
      ng-repeat='item in #{resource}'
      ng-if='item.isFolder == true'
    )
      .list-group-item-inner(ng-click='open($event)')
        span.glyphicon.glyphicon-play.open-folder-btn(
          ng-click='unwrapFolder($event)'
          ng-class='item.isOpened == true ? "rotate-90" : ""'
        )
        span.glyphicon(
          ng-class='item.isOpened == true ? "glyphicon-folder-open" : "glyphicon-folder-close"'
        )
        span {{ item.name }}
        span.badge(ng-if='item.notesCount > 0') {{ item.notesCount }}


mixin notesList(notes)
  ul.list-group.no-select
    li.list-group-item(
      ng-repeat='item in #{notes}'
      ng-if='item.isFolder == false'
    )
      .list-group-item-inner(
        ng-click='open($event)'
        ng-class='{active: item.isOpened == true}'
      )
        span.glyphicon.glyphicon-file
        span {{ item.name }}

