include parts/mixins


html
  head
    meta(charset='UTF-8')
    title NodeNode
    link(
      href='node_modules/bootstrap/dist/css/bootstrap.min.css'
      rel='stylesheet'
    )
    link(
    href='node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css'
    rel='stylesheet'
    )
    link(
      href='assets/css/style.css'
      rel='stylesheet'
    )

    include parts/scripts

  body(ng-app='nodeNote')
    .container-fluid
      .row(ng-controller='DirectoryTree')
        #folders-col.tree
            button(ng-click='save(currentOpenFileScope.item.path)') Save
            button(ng-click='createFolder()') Create folder
            button(ng-click='createNotes()') Create notes
            +dirTree('tree.children')

        #notes-col.tree
            +notesList('notesInCurrentFolder')

        .editor-col
          textarea(ng-model='text' ui-tinymce)


script#dir-tree-tpl(type='text/ng-template')
  +dirTree('item.children')
