html
  head
    meta(charset='UTF-8')
    title NodeNode
    link(
      href='node_modules/bootstrap/dist/css/bootstrap.min.css'
      rel='stylesheet'
    )
    link(
      href='assets/css/style.css'
      rel='stylesheet'
    )

    include parts/scripts

  body(ng-app='nodeNote')
    .container-fluid
      .row
        .col-md-4
          div(ng-controller='DirectoryTree')
            button(ng-click='save(currentOpenFileScope.item.path)') Save

            ul.list-group
              li.list-group-item(
                ng-repeat='item in tree.children'
                ng-class='{selected: item.isOpened == true}'
              )
                span.glyphicon(
                  ng-if='item.isFolder == true'
                  ng-class='item.isOpened == true ? "glyphicon-folder-open" : "glyphicon-folder-close"'
                )
                span(ng-click='open($event)') {{ item.name }}
                span.badge {{ item.children.length }}
        .col-md-8
          textarea(ng-model='text' ui-tinymce)



script#test(type='text/ng-template')
  ul.list-group
    li.list-group-item(
      ng-repeat='item in item.children'
      ng-class='{selected: item.isOpened == true}'
    )
      span.glyphicon(
        ng-if='item.isFolder == true'
        ng-class='item.isOpened == true ? "glyphicon-folder-open" : "glyphicon-folder-close"'
      )
      span(ng-click='open($event)') {{ item.name }}
      span.badge {{ item.children.length }}
